<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARMAZON 🌾</title>
    <link rel="icon" href="img\Farmazon_logo1.png" type="image/x-icon">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/9bb8901042.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="assets/img/icon.png" />

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>

    <style>
        body::before {
            background: url('img/card.jpg') no-repeat center center/cover;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.4;
        }

        body {
            height: 100%;
            width: 100%;
        }


#footer{
  padding: 3% 11%;
  text-align: center;
  background-color:#fff;

}

.git
{
  color: grey;
 margin : 20px 10px;
}
.git:hover{
  color: blue;
}

        
    </style>

</head>

<body>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e9e9e9;">

        <a class="navbar-brand" href="/"><img class="navbar-brand-img logo" src="img\Farmazon_logo1.png" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav">
                <li id="home" class="nav-item"><a class="nav-link active" href="/">HOME</a></li>

                <li id="about" class="nav-item"><a href="about" class="nav-link active">ABOUT US</a></li>

                <li id="contact" class="nav-item"><a class="nav-link active" href="contact">CONTACT US</a></li>

                <li id="login" class="nav-item"><a class="nav-link active" href="login" role="button">LOGIN</a></li>

                <li id="register" class="nav-item"><a class="nav-link active" href="register" role="button">JOIN</a>
                </li>


            </ul>

        </div>

    </nav>

<div class="container">

